header{
    background-color:blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;

}
p{
    background-color: bisque ;
    height: 500px;
    top: 100px;
}
}
@keyframes header-show{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-10px);
    }
}
img{
    width: 400px;
    height: 400px;
    position: relative;
    bottom: 480px;
    left: 800px;
    border-radius: 50%;
}
.N2{
    animation-name:header-show ;
    animation-duration: 1s;
    animation-iteration-count:infinite ;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}